<!--

<app-login></app-login>
<app-register></app-register>
<app-showstudentbyid></app-showstudentbyid>
<app-showstudents></app-showstudents>
-->
<app-header></app-header>
<br/>
<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>