<h1>Student Registration</h1>

<table>
    <tr>
        <td> stuId </td>
        <td> <input type="text" name="empId" [(ngModel)]="student.empId" /> </td>
    </tr>
    <tr>
        <td> stuName </td>
        <td> <input type="text" name="empName" [(ngModel)]="student.empName" /> </td>
    </tr>
    <tr>
        <td> Fee </td>
        <td> <input type="text" name="salary" [(ngModel)]="student.salary" /> </td>
    </tr>
    <tr>
        <td> Gender </td>
        <td>
            <select name="fee" [(ngModel)]="student.gender">
                <option value="" selected>Select Gender</option>
                <option value="Male">   Male </option>
                <option value="Female"> Female </option>
                <option value="Others"> Others </option>
            </select>
        </td>
    </tr>
    <tr>
        <td> DateOfBirth </td>
        <td> <input type="date" name="dob" [(ngModel)]="student.doj" /> </td>
    </tr>
    <tr>
        <td> Country </td>
        <td>
            <select name="country" [(ngModel)]="student.country">
                <option value="" selected>Select Country</option>
                <option value="India">    INDIA    </option>
                <option value="SriLanka"> SriLanka </option>
                <option value="China">    China    </option>
                <option value="USA">      USA      </option>
                <option value="Japam">    Japan    </option>
            </select>
        </td>
    </tr>
    <tr>
        <td> Email-Id </td>
        <td> <input type="text" name="emailId" [(ngModel)]="student.emailId" /> </td>
    </tr>
    <tr>
        <td> Password </td>
        <td> <input type="password" name="password" [(ngModel)]="student.password" /> </td>
    </tr>
    <tr>
        <td></td>
        <td> <button (click)="submit()"> Register </button></td>
    </tr>
</table>





