<h1 align="center">GetEmployeeById</h1> <br/>

<div class="container">
    <form #stuForm="ngForm" (ngSubmit)="getStudent(stuForm.value)" align="center"> 
        Enter StuID: <input type="text" name="stuId" ngModel /> <br/><br/>
        <button>getStudent</button>
    </form> 
</div>
<br/>

<div class="container" *ngIf="stu;else stu">

    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">StuId</th>
                <th class="bg-info text-white">StuName</th>
                <th class="bg-info text-white">Fees</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">DOB</th>
            </tr>
        </thead>

        <tbody>
            <tr align="center">
                <td> {{stu.stuId}}   </td>
                <td> {{stu.stuName}} </td>
                <td> {{stu.fees}}  </td>
                <td> {{stu.gender}}  </td>
                <td> {{stu.country}} </td>
                <td> {{stu.dob}}     </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #noEmp>
<div class="container" >
    <h1 style="color: red;" align="center">{{msg}}</h1>
</div>
</ng-template>
