<body>
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <div class="wrapper">
        
            <h1>Login </h1>
            <div class="input-box">
                <input type="email" name = "emailId" #emailId="ngModel" placeholder="Enter Email ID"  ngModel required  email="true">
            </div>
            &nbsp;

            <div class="input-box">
                <input type="password" name= "password" #password="ngModel" placeholder="Password"  ngModel required pattern ="(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@#$%^&!])[A-Za-z\d@#$%^&!]{8,}">
            </div>
            <br>
            <div class="remember-forgot">
                <label>
                    <input type="checkbox">Remember me
                </label>
                <a href="#">Forgot password ?</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            


            <div class="register-link">
                <p>Don't have an account?<a routerLink="/signup"> Register </a></p>
            </div>
            
            <p style="font-weight: bold;text-align: center;"  *ngIf ="emailId.errors?.['required'] && emailId.touched"> Enter Email ID</p>
            <p style="font-weight: bold;text-align: center;"  *ngIf ="emailId.errors?.['email'] && emailId.touched"> Enter proper Email ID</p>
            <p style="font-weight: bold;text-align: center;"  *ngIf ="password.errors?.['required'] && password.touched"> Enter password</p>
            <p style="font-weight: bold;text-align: center;"  *ngIf ="password.errors?.['pattern'] && password.touched"> Password Must contain one Special Character,One UpperCase,One LowerCase,One Number, Min Length of 8 </p>
            
            <button id="google-sign-in-button" class="google-sign-in-button" (click)="signInWithGoogle($event)">Sign in with Google</button>
            <input type="hidden" name="isGoogleSignIn" [ngModel]="false" />
    </div>
    
<!-- data-auto-select="true" 
<div id="g_id_onload"
     data-client_id="318863931977-feib8qf170fm1s8c7vntlpf3emjsgrnb.apps.googleusercontent.com"
     data-context="signin"
     data-login_uri="http://localhost:3000/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>
<div
class="g_id_signin"
data-type="standard"
data-shape="pill"
data-theme="filled_blue"
data-text="signin_with"
data-size="large"
data-logo_alignment="left"
></div>-->


</form>

</body>

