  <!-- <div style=" display: flex;
             padding: 20px;
             justify-content: center;
             align-items: center;
             height: 100%;">

   <form action="javascript:void(0)"
         style="display: flex; flex-direction: column; gap: 20px; width: 500px">

      <h1>Registration</h1>
      <div style="display: flex; gap: 20px; flex-direction: column; width: 100%;"> 
    
        <input type="email" formControlName="email" placeholder="email"/>
        <input type="password" formControlName="password" placeholder="password"/>
        <input type="password" formControlName="confirmPassword" placeholder="confirmPassword"/>
    
    
        <button type="submit">Submit</button>
    
    </div>

   </form>
</div> -->




 <div style="display: flex; padding: 20px; justify-content: center; align-items: center; height: 100%;">
   <form [formGroup] ="form" style="display: flex; flex-direction: column; gap: 20px; width: 500px">
       <h1>Registration</h1>
       <div style="display: flex; gap: 20px; flex-direction: column; width: 100%;"> 
           <input type="email" formControlName="email" placeholder="email"/>
           <input type="password" formControlName="password" placeholder="password"/>
           <input type="password" formControlName="confirmPassword" placeholder="confirmPassword"/>
           <button type="submit">Submit</button>
       </div>
   </form>
</div>








<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
   <input type="email" formControlName="email" placeholder="Email">
   <input type="password" formControlName="password" placeholder="Password">
   <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
   <button type="submit">Register</button>
 </form> -->
 












