<h1 align="center">Show Employees</h1> <br/>

<div class="container">

    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">StuId</th>
                <th class="bg-info text-white">StuName</th>
                <th class="bg-info text-white">Fees</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">DOB</th>
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let stu of students" align="center">
                        <td> {{stu.stuId   }}   </td>
                        <td>{{stu.stuName | gender: stu.gender | uppercase }}</td>
                        <td> {{stu.fees  | currency: 'INR'}}  </td>
                        <td> {{stu.gender  | lowercase }}  </td>
                        <td> {{stu.country }} </td>
                        <td> {{stu.dob     | date: 'dd-MMM-yyyy'}}     </td>
                        
            </tr>
        </tbody>
    </table>

</div>
