<app-header></app-header>
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-forgot-password></app-forgot-password>
<!-- <lib-ng-toast></lib-ng-toast> -->
<ng-toast></ng-toast>